mdm-cuf-person-adapter-vba-corp-bgs/src/main/resources/wsdl/xsd/Vet360MailingAddressActions.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xs:schema xmlns:tns="http://address.services.vet360.vba.va.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://address.services.vet360.vba.va.gov/">

<xs:element name="MessageException" nillable="true" type="tns:messageFaultInfoBean"/>

<xs:element name="updateMailingAddress">
	<xs:complexType>
	<xs:sequence>
	<xs:element name="ptcpntAddrsId" type="xs:long" minOccurs="0"/>
	</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="updateMailingAddressResponse">
	<xs:complexType>
	<xs:sequence>
	<xs:element name="returnCode" type="xs:string" minOccurs="0"/>
	</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:complexType name="messageFaultInfoBean">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="faultCode" type="xs:string" minOccurs="0"/>
<xs:element name="fieldName" type="xs:string" minOccurs="0"/>
<xs:element name="functionName" type="xs:string" minOccurs="0"/>
<xs:element name="jrnDate" type="xs:string" minOccurs="0"/>
<xs:element name="jrnExtnlKeyTxt" type="xs:string" minOccurs="0"/>
<xs:element name="jrnExtnlUserId" type="xs:string" minOccurs="0"/>
<xs:element name="jrnLocationId" type="xs:string" minOccurs="0"/>
<xs:element name="jrnObjectId" type="xs:string" minOccurs="0"/>
<xs:element name="jrnUserId" type="xs:string" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="reason" type="xs:string" minOccurs="0"/>
<xs:element name="service" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>